body{
    background-color: #99f2e6;
}

.heading{
    text-align: center;
    color: royalblue;
}

.formHolder{
    margin-top: 50px;
}

form{
    text-align: center;
}

.inputBox{
    height: 30px;
    width: 700px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #edf0f2;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submitButton{
    height: 30px !important;
    width: 80px !important;
    margin-left: 30px;
    border: solid 1px;
    border-color: gray;
    border-radius: 10px;
    color: white;
    background-color: #03a80a;
    font-size: medium;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #04db0c;
}

.resultHolder{
    text-align: center;
    margin-top: 50px;
}

.outputContainer{
    font-size: 22px;
    color: royalblue;
}
.outputContainerOriginal{
    font-size: 22px;
    color: #bfaa71;
}
.outputContainerCorrect{
    margin-top: 8px;
    font-size: 22px;
    color: #71bf78;
}
.outputContainerReplaced{
    margin-top: 8px;
    font-size: 22px;
    color: rosybrown;
}