<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 class="heading">Error Flask App</h1>
    <div class="formHolder">
        <form method="post" action="{{ url_for('home') }}">
            <h2 style="color: rosybrown;">Enter the Sentence</h2>
            <input name="sentence" class="inputBox">
            <button type="submit" class="submitButton">Check</button>
        </form>
    </div>
    {% if original_sentence %}
        {% if original_sentence == corrected_sentence %}
            <h1 style="text-align: center; color: rosybrown;">Congratulations!! You entered grammatically correct sentence.</h1>
        {% else %}
            <div class="resultHolder">
                <div class='outputContainerOriginal'>
                    <b>Original Sentence:</b> <p class="outputContainer">{{ original_sentence }}</p>
                </div>
                <div class='outputContainerCorrect'>
                    <b>Corrected Sentence:</b> <p class="outputContainer">{{ corrected_sentence }}</p>
                </div>
                <div class='outputContainerReplaced'>
                    <b>Replaced Words:</b>
                </div>
                {% for word in edited_sentence %}
                    <div class='outputContainer'>
                        <br/>
                        {% if word[1] == "" %}
                            **NewWord**: {{ word[4] }} 
                        <br/>
                        (Type: {{ word[0] }}, (start_idx, end_idx): {{ word[2], word[3] }}) 
                        {% else %}
                            {{ word[1] }} -> {{ word[4] }}
                            <br/>
                            (Type: {{ word[0] }}, (start_idx, end_idx): {{ word[2], word[3] }}) 
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</body>
</html>